.header {
  width: 98vw;
  height: 150vh;
}
html {
  scroll-behavior: smooth;
  font-family: Merriweather, "Times New Roman", Times, Serif;
}
header {
  position: relative;
  /* top: 2vh; */
}
body {
  background-image: linear-gradient(#c3e4fd, #C5D7C0);
  /* background-color: #F5FFFA; */
   /* url("../Images/HomeBackground.png"); */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.bodyInfo {
  position: relative;
  padding-top: 0.5vh;
  top: 3vh;
  color: black;
}
p {
  font-size: 1.5vw;
  color:black;
  opacity: 1;
  font-family: Merriweather, "Times New Roman", Times, Serif;
}
.opaque {
  opacity: 0.6;
  position: relative;
  height: 50vh;
  top: 3vh;
  background-color: white;
  z-index: -1;
}
.headingbar {
  height: 40vh  ;
  overflow: visible;
  z-index: 1;
}
.bodyInfo {
    z-index: -1;
}

@keyframes fade-in {
    from {opacity: 0; transform: scale(.7,.7)}
    to {opacity: 1;}
}
.our_mission {
  animation: fade-in 1.4s;
}
.hidden {
  opacity: 0;
}
footer {
  height: 20vh;
}
h2  {
  font-size: 30px;
  font-family: Merriweather, "Times New Roman", Times, Serif;
}
h3 {
  font-family: Merriweather, "Times New Roman", Times, Serif;
}
